[Unit]
Description=PHP-Python Service
After=network.target remote-fs.target nss-lookup.target
 
[Service]
ExecStart=/var/www/app/Python/php_python.py
#ExecReload=
#ExecStop=

[Install]
WantedBy=multi-user.target
